.service-section{
    background-color: #2b2c2c;
}

.pt-top{
    padding-top: 60px;
}

.service-div{
    text-align: center;
}

.service-head{
    color: #cccccc;
    font-size: 40px;
}

.service-para{
    font-size: 18px;
    color: #999999;
    text-align: center;
    padding-top: 20px;
}

.service-back{
    width: 100%;
    background-image: url("../../assets/images/service_bg.jpg");
    background-repeat: no-repeat;
    border-radius: 17px;
}

.overlay{
    background-image: -webkit-linear-gradient(-48deg,rgb(36,226,254)0%,rgb(36,176,254)54%,rgb(35,126,253)100%);
    opacity: 0.9;
    border-radius: 17px;
}

.p-100{
    padding: 60px;
}

.ph-icon{
    padding-bottom: 35px;
}

.heading-1{
    color: white;
    font-size: 40px;
}

.service-back2{
    width: 100%;
    background-image: url("../../assets/images/blog_img_1.png");
    background-repeat: no-repeat;
    border-radius: 17px;
}

.overlay2{
    background-image: -webkit-linear-gradient(-48deg,rgb(255,211,36)0%,rgba(254,187,36,0.99)54%,rgba(253,163,35,0.99)100%);
    opacity: 0.9;
    border-radius: 17px;
}